@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');


body {
  margin: 0;
  line-height: normal;
}
.bhambin_page{
    position: relative;
    background-image: linear-gradient( rgb(39, 39, 39),rgb(51, 51, 51));
    width: 100%;
    height: 640px;
    overflow: hidden;
    text-align: center;
}

.mainbar{
  position: relative;
  background-color: rgb(55, 55, 55);
  width: 85%;
  height: 80%;
  left: 10%;
  top: 10%;
}

.showmap{
  position: relative;
  width: 900px;
  height: 470px;
  top: 20px;
}

.trash-target{
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  left: 720px;
  top: 250px;
}

.trash-target:hover{
  background-color: rgba(0, 0, 0, 0.124);
  /*shadow: 0 5px 15px rgba(145, 92, 182, .4);*/
}

.trashIcon{
  width: 85px;
  height: 120px;
}

.trashbar{
  position: absolute;
  background-color: rgba(32, 32, 32, 0.789);
  box-shadow: 0 5px 15px rgba(93, 93, 93, 0.4);
  width: 900px;
  height: 470px;
  left: 162px;
  top: 20px;
  
}

.closewindow{
  position: relative;
  left: 434px;
  cursor:pointer;
  background-color: rgb(211, 57, 57);
  border: none;
  color: white;

}

.wetbin,.generalbin,.rebin{
  position: absolute;
  width: 150px;
  height: 220px;
  top: 100px;
}
.wetbin{
  left:150px;
}
.generalbin{
  left:350px;
}
.rebin{
  left:550px;
}
.bintitle{
  position: absolute;
  text-align: center;
  left: 175px;
  top:50px;
  font-family: Quicksand;
  color:white;
  display: flex;
  flex-direction: row;
  gap:100px;

}
.frametextbin{
  width: 100px;
  height: 20px;
  background-color: #008b7d;
  border-radius: 5px;
}
.statustext{
  position: absolute;
  text-align: left;
  left: 50px;
  top: 340px;
  font-family: Quicksand;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  gap: 20px;
}
.wetstatus,.generalstatus,.restatus{
  position: absolute;
  top: 340px;
  font-family: Quicksand;
  color: #008b7d;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  gap: 13px;
}
.wetstatus{
  left:175px
}
.generalstatus{
  left:375px
}
.restatus{
  left:575px
}
.frametextstatus{
  width: 100px;
  height: 20px;
  background-color: #008b7d;
  border-radius: 5px;
  font-family: Quicksand;
  color:white;
}
.callcar{
  position: absolute;
  width: 100px;
  height: 120px;
  background-color: rgb(55, 55, 55);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  left: 730px;
  top: 340px; 
  font-family: Quicksand;
  color:white;
}
.callcar:hover{
  background-color: rgb(88, 88, 88);
}

.icon-bar {
  position: relative;
  width: 70px; /* Set a specific width */
  background-color:rgb(55, 55, 55); /* Dark-grey background */
  left: 5%;
  top: -448.5px;
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: rgb(0, 139, 125); /* Add an active/current color */
}

@media screen and (max-width: 1200px) {
    .bhambin {
      width: 1200px;
    }
}


/* rgb(24, 103, 74); */
